@import "./variables";

.box {
  background-color: white;

  border-radius: 4px;

  margin: 64px;
  width: 300px;

  h2 {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin: 0;
    padding: 10px 15px;
  }

  .wrapper {
    display: flex;
    flex-flow: column nowrap;

    padding: 16px;
  }
}