@import "./variables";

.box {
  background-color: white;

  border-radius: $border-radius;

  margin: 64px;
  width: 300px;

  h2 {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    font-size: 14px;

    margin: 0;
    padding: 10px 15px;
  }

  .wrapper {
    display: flex;
    flex-flow: column nowrap;

    padding: 16px;
  }

  .actions {
    margin-bottom: 16px;
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn:first-child {
    margin-right: 16px;
  }
}
