@import "./variables";

.input {
  background-color: $menu-background;
  display: block;

  font-size: 16px;

  padding: 6px 12px;
}

.input:invalid {
  border-color: $error-color;
}

label {
  margin-right: 16px;

  .input {
    display: inline-block;
    margin-right: 12px;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}
