.note {
  border-radius: 4px;

  padding: 16px;
  margin-bottom: 16px;

  max-height: 30vh;
  overflow-y: scroll;

  &.danger {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
  }
  &.info {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
  }
}
