@import "../resources/scss/variables";

.app {
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;

  .main {
    flex: 1;
    margin-top: $menu-height;
    -webkit-overflow-scrolling: touch;
  }

  .unofficial {
    background: rgba(255, 255, 255, 0.7);
    border-radius: $border-radius;
    color: grey;

    padding: 8px;
    position: fixed;
    bottom: 8px;
    left: 8px;

    z-index: 500;
  }
}

.toast {
  color: $text-color;

  .toast-progress {
    background: #333;
  }

  &.Toastify__toast--error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;

    .toast-progress {
      background: white;
    }
  }

  &.Toastify__toast--success {
    color: $velocity-green;
    background-color: $menu-background;

    .Toastify__close-button {
      color: $text-color;
    }
  }
}

.Toastify__toast-container {
  z-index: 999;
}
