@import "../resources//variables";

.app {
  background-color: #bbb;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;

  .main {
    flex: 1;
    margin-top: $menu-height;
    overflow: scroll;
  }
}
