.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .box {
    margin-bottom: 16px;
    max-width: 800px;
    width: 100%;

    &:first-child {
      margin-top: 16px;
    }
  }

  .booking {
    flex-shrink: 0;
  }

  .transactions {
    display: flex;
    flex-direction: column;
    flex: 1;

    .wrapper {
      flex: 1;
    }

    .transaction {
      padding: 16px;
    }
  }
}