.bookings {
  height: auto;

  .wrapper {
    display: block;
    padding-bottom: 0;
  }

  .gap {
    padding-bottom: 16px;
  }

  .transaction {
    margin-bottom: 16px;
    padding: 16px;
  }

  .oneline {
    margin: 0;
    margin-bottom: 16px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:last-of-type {
      margin: 0;
    }
  }
}
