.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .box {
    margin-bottom: 16px;
    max-width: 800px;
    width: 100%;

    &:first-child {
      margin-top: 16px;
    }
  }

  .booking {
    flex-shrink: 0;
  }

  .transactions {
    display: flex;
    flex-direction: column;
    flex: 1;

    .wrapper {
      flex: 1;
      padding-bottom: 0;
    }
  }

  .gap {
    padding-bottom: 16px;
  }

  .transaction {
    margin-bottom: 16px;
    padding: 16px;

    p {
      margin: 0;
      margin-bottom: 16px;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}