@import "../resources/variables";

.invoices {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead {
    border-bottom: 1px solid #ddd;
  }

  td, th {
    text-align: center;

    padding: 8px;

    width: 25%;
  }
}
