@import "../resources/variables";

.login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  .input {
    margin-bottom: 16px;
  }

  a {
    display: block;
    margin-bottom: 16px;
  }

  .btn {
    align-self: flex-end;
  }
}
