@import "../resources/variables";

.login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  a {
    display: block;
    margin-top: 16px;
  }
}
