@import "../resources/variables";

.menu-bar {
  background-color: $menu-background;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: fixed;
  top: 0;

  height: $menu-height;
  width: 100%;

  .logo {
    height: $menu-height;
    width: $menu-height - 5px;

    flex: 0 0 auto;
    padding: 4px;
  }

  .btn {
    flex: 0 0 auto;
    margin: 8px;
  }

  .btn-menu {
    display: none;
    margin-right: 16px;
  }

  .menu-entry {
    height: 100%;

    line-height: $menu-height;

    padding: 0 16px;
  }

  .flex-grow {
    flex: 1 1 auto;
  }

  @media (max-width: 890px) {
    .btn-menu {
      display: block;
    }

    .menu-entry {
      display: none;
    }
  }
}
