@import "../resources/variables";

$border-radius: 4px;

.menu {
  background-color: $menu-background;
  border-radius: $border-radius;
  margin: 64px;
  max-height: 80vh;
  width: 272px;

  .menu-entry {
    display: block;
    height: 40px;

    color: #555;
    line-height: 40px;

    padding-left: 16px;

    &.active {
      background-color: $velocity-green;
    }
    &:visited {
      color: #555;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
