@import "../../resources/scss/variables";

.backdrop {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  opacity: 0;
  pointer-events: none;

  background-color: rgba(0, 0, 0, .3);
  transition: opacity .2s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.overlay-open {
  pointer-events: none;
}
