@import "./resources/variables";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $text-color;
}

.col-25 {
  width: 25%;
}
.col-50 {
  width: 50%;
}

@import "./resources/a";
@import "./resources/button";
@import "./resources/outline";
