@import "./resources/variables";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $text-color;
}

@import "./resources/a";
@import "./resources/box";
@import "./resources/box-list";
@import "./resources/button";
@import "./resources/div";
@import "./resources/input";
@import "./resources/note";
@import "./resources/outline";
@import "./resources/p";
@import "./resources/select";
