@import "./resources/scss/variables";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #bbb;
  color: $text-color;
}

@import "./resources/scss/a";
@import "./resources/scss/box";
@import "./resources/scss/box-list";
@import "./resources/scss/button";
@import "./resources/scss/div";
@import "./resources/scss/hr";
@import "./resources/scss/input";
@import "./resources/scss/note";
@import "./resources/scss/outline";
@import "./resources/scss/p";
@import "./resources/scss/select";
@import "./resources/scss/textarea";
