@import '../../resources/scss/variables';

.rent-popup {
  background: white;
  padding: 16px;

  height: 50vh;
  min-height: 340px;
  width: 100%;

  position: fixed;
  bottom: 0;

  transform: translateY(100vh);
  transition: transform 0.2s ease;

  &.open {
    transform: translateY(0);
  }

  .station-name {
    margin-top: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .loading-station {
    height: auto;
    margin-top: 96px;

    .ellipsis div {
      background: #ddd;
    }
  }

  .no-bikes {
    text-align: center;
  }

  .login-cta {
    display: block;
    text-align: center;
  }
}
