@import "../../resources/scss/variables";

.rent-popup {
  background: white;
  padding: 16px;

  height: 50vh;
  min-height: 340px;
  width: 100%;

  position: fixed;
  bottom: 0;

  transform: translateY(100vh);
  transition: transform .2s ease;

  &.open {
    transform: translateY(0);
  }

  .station-name {
    margin-top: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .loading-station {
    height: auto;
    margin-top: 96px;

    .ellipsis div {
      background: #ddd;
    }
  }

  .no-bikes {
    text-align: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slot-list {
    list-style: none;

    padding: 0;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    -webkit-overflow-scrolling: touch;

    &.centered {
      display: flex;
      justify-content: center;
    }

    .slot-entry {
      display: inline-flex;

      &:not(:last-of-type) {
        margin-right: 16px;
      }
    }

    .slot-icon {
      justify-content: center;
      height: 64px;
      width: 64px;

      margin-bottom: $border-radius;

      p {
        margin: 0;
      }

      &.reserved {
        border-color: blue;
        border-style: dashed;

        &.me {
          border-color: $velocity-green;
        }
      }
      &.selected {
        border-color: $velocity-green;
        border-style: solid;
      }
    }
  }

  .rent-controls {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    margin: auto;
    max-width: 500px;

    > * {
      margin-bottom: 16px;
    }

    p {
      text-align: center;
    }
  }

  .login-cta {
    display: block;
    text-align: center;
  }
}
