@import '../../resources/scss/variables';

.slot-list {
  list-style: none;

  margin: 0;
  padding: 1em 0;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  -webkit-overflow-scrolling: touch;

  &.centered {
    display: flex;
    justify-content: center;
  }

  .slot-list-item {
    display: inline-flex;

    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }

  .slot-button {
    background: transparent;
    border: none;

    cursor: pointer;

    padding: 0;

    &:focus {
      box-shadow: none;

      .slot-icon {
        box-shadow: $focus-box-shadow;
      }
    }
  }

  .slot-icon {
    justify-content: center;
    height: 64px;
    width: 64px;

    margin-bottom: $border-radius;

    &.reserved {
      border-color: blue;
      border-style: dashed;

      &.me {
        border-color: $velocity-green;
      }
    }
    &.selected {
      border-color: $velocity-green;
      border-style: solid;
    }
  }

  .charge-percentage {
    margin: 0;
  }
}
