@import "../../resources/scss/variables";

.station-popup {
  .leaflet-popup-content {
    width: auto !important;
  }

  header {
    display: flex;
    align-items: flex-start;

    margin-bottom: 16px;
  }

  .status-indicator {
    background-color: #888; // Fallback value

    flex-shrink: 0;

    border-radius: 8px;
    margin-top: 4px;
    height: 16px;
    width: 16px;

    &.operative {
      background-color: $velocity-green;
    }

    &.inoperative {
      background-color: $error-color;
    }
  }

  .meta {
    margin-left: 8px;

    h3 {
      font-size: 18px;
      font-weight: 500;

      max-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;

      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .slot-list {
    list-style: none;

    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    max-height: 30vh;
    overflow-y: scroll;
    width: 245px;
  }

  .slot {
    display: flex;

    .slot-no {
      width: 48px;
    }
    .bike-state {
      flex: 1 1 auto;
    }
    .charge-state {
      width: 56px;
    }
  }

  .actions {
    flex-wrap: nowrap;
  }

  .pin-entry {
    margin-bottom: 16px;

    .input {
      width: 100%;
    }
  }
}
